.center {
  text-align: center;
}
.dimgray {
  color: dimgray;
}
.content-container {
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
}
h3 {
  border-bottom: 1px solid steelblue;
  color: steelblue;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
